{% extends "emails/base.html" %}

{% block title %}Confirm your subscription{% endblock %}

{% block header %}Confirm Your Subscription{% endblock %}

{% block content %}
<p>Hello {{ name }},</p>

<p>Thank you for subscribing to our newsletter! To complete your subscription, please confirm your email address by clicking the button below:</p>

<p style="text-align: center;">
    <a href="{{ verification_url }}" class="button">Confirm Subscription</a>
</p>

<p>Or copy and paste this link into your browser:</p>
<div class="code">{{ verification_url }}</div>

<p>If you didn't subscribe to our newsletter, you can safely ignore this email or <a href="{{ unsubscribe_url }}">unsubscribe here</a>.</p>

<p>Best regards,<br>
The Team</p>
{% endblock %}
