{% extends "emails/base.html" %}

{% block title %}You have been unsubscribed{% endblock %}

{% block header %}Unsubscribed{% endblock %}

{% block content %}
<p>Hello {{ name }},</p>

<p>You have been successfully unsubscribed from our newsletter. We're sorry to see you go!</p>

<p>If you unsubscribed by mistake, you can resubscribe at any time by visiting our website.</p>

<p>Thank you for being part of our community, and we hope to see you again in the future.</p>

<p>Best regards,<br>
The Team</p>
{% endblock %}
